header{
  background:linear-gradient(rgb(201, 250, 123),
  rgb(0, 0, 0));
}
*{
  padding: 0%;
  box-sizing: border-box;
}
body{
  font-style: normal;
  background: linear-gradient(rgb(168, 252, 238),
  rgb(183, 236, 255));
  margin: 40px;
  
}
h1 {
  text-align: center;
  background:linear-gradient(rgba(149, 246, 152, 0.68),
  rgb(157, 254, 254)) ;
}

.perfil{
  max-width:  5000px; 
  border: 5px solid rgb(173, 153, 252);
  border-radius:5px ;
  box-shadow: 5px 5px 5px black;

}
h2{
  color: rgb(233, 254, 2);
}
h3{
  color: rgb(255, 255, 0);

}
input[type="text"], input[type="number"] {
  min-width: 100%;
  min-height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 2px purple;
}
input[type="button"] :hover, input[type="SUMA"]:hover {
  border: 2px gray solid;
  box-shadow: 5px purple;
}
a:hover{
  text-shadow: 5px 5px 10px;
}
.button{ 
  background-color: aqua;
  color: white;
  padding:15px 32px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  cursor:pointer;
  border-radius:5px;
  box-shadow:5px;
}
.button:hover{
  border: rgb(34, 0, 255) 2px solid;
  box-shadow: 5px 5px 5px grey;
  font-size: 20px;
  color: rgb(38, 127, 117);
}
table{
  border-collapse:collapse;width:100%;
}
td,th{
  border:1px solid black;
  text-align:left;
  padding:8px;
}